body {
    margin: 0;
    padding: 0;
}
#container {
    position: absolute;
    margin: 0;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background-color: black;
    border: solid red 2px;
}

#values {
    position: relative;
    width: 52px;
    left: calc(100% - 62px);
}

.output{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    width: 60px;
    height: 20px;
    text-align: center;
    color: red;
    background-color: yellow;
    border: solid red 1px;
}

#box {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 10px;
    height: 10px;
    background-color: chartreuse;
    transition: 400;
}

/* #container:hover {
    cursor: none;
} */

.shot {
    position: absolute;
    display: inline-block;
    height: 5px;
    width: 2px;
    background-color: red;
}

.target {
    position: fixed;
    width: 48px;
    height: 31px;
    background-image: url("..\\images\\invader.gif");
}

